/* #BC986A бежевый
#659DBD голубой
#8D8741 зеленый
#DAAD86 розовый
#FBEEEC1 песочный */


/* #E27D60 красный
#85DCB rgb(118, 204, 201) голубой
#E8A87C оранжевый
#C38D9E фиол
#41B3A3 зеленый */



body {
    background-color: #8badbf!important;
}

.navbar {
    background-color:  #5d80a1;
    border-top: 4px solid #f4f4eb;
    border-bottom: 4px solid #f4f4eb;
    border-radius: 5px;
}

.navbar-brand {
    margin: 10px;
    font-weight: bold;
}

.navbar-nav {
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.active {
    font-size: 20px;
    background-color: #f4f4eb;
    border-radius: 10px;
}

.row {
    justify-content: center;
    align-items: center;
}

.container-fluid {
    margin-top: 100px;
}

.col-lg-2 {
    background-color: rgba(255,255,255,0.7);
    border: 3px solid white;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.col-lg-2 img {
    width: 300px;
    height: 300px;
}

.heading {
    text-align: center;
    color: black;
    margin: auto;
    padding: 100px 0px 50px 0px;
}

.card {
    background-color:  rgba(255,255,255,0.7)!important;
    text-align: center;
}

.url {
    text-align: center;
    color: black;
    font-size: 18px;
}

.alert {
    text-align: center;
    margin: auto;
    background-color:  rgba(255,255,255,0.7);
    width: 300px;
    border: 3px solid white;
    border-radius: 10px;
}

.pages {
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.pages a {
    color: black;
}

.now_page {
    text-decoration: underline;
    font-size: 30px;
}

.thanks {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 20px;
}


.required::after {
    content: '*';
    color: red;
    font-weight: bold;
    font-size: 20px;
}

h3 a{
    color: black;
}

.name {
    font-size: 18px;
    color: black;
    font-style: italic;
}

.question {
    font-size: 18px;
}

.alone {
    width: 95%;
    margin: auto;
    padding: 10px;
}

.sub {
    font-size: 17px;
    font-style: italic;
}

label {
    font-weight: bold;
    font-size: 21px;
}

.med {
    font-size: 17px;
}