/* #BC986A бежевый
#659DBD голубой
#8D8741 зеленый
#DAAD86 розовый
#FBEEEC1 песочный 

#fdf5df
#5ebec4



*/


/* #E27D60 красный
#85DCB rgb(118, 204, 201) голубой
#E8A87C оранжевый
#C38D9E фиол
#41B3A3 зеленый */



body {
    background-color: #FBEEC1!important;
}

.comfortaa {
    font-family: "Comfortaa";
    font-size: 20px;
}

.comfortaa-sm {
    font-family: "Comfortaa";
}

.amatic-sm {
    font-family: "Amatic SC";
}

.amatic {
    font-family: "Amatic SC";
    font-size: 50px;
    font-weight: 700;
}

.footer-icon {
    margin: auto;
    display: block;
    max-width: 140px;
    max-height: 140px;
    width: auto;
    height: auto;
}

.navbar {
    background-color:  #659DBD;
    /* border-top: 4px solid #f4f4eb;
    border-bottom: 4px solid #f4f4eb; */
    /* border-radius: 5px; */
}

.navbar-brand {
    margin: 3px;
    font-size: 25px!important;
    font-weight: bold;
    font-family: "Amatic SC";
}

.navbar-nav {
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: "Comfortaa";
}

footer {
    background-color: #659DBD;
}

.active {
    font-size: 20px;
    background-color: #f4f4eb;
    border-radius: 10px;
}

.row {
    justify-content: center;
    align-items: center;
}

.container-fluid {
    margin-top: 100px;
}

/* .col-lg-2 {
    background-color: rgba(255,255,255,0.7);
    border: 3px solid white;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-size: 20px;
} */

.col-lg-6 {
    text-align: center;
}

.biggest {
    font-family: "Amatic SC";
    font-size: 100px;
    color: #659DBD;
}

.big {
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 70px;
}

.bigger {
    font-family: "Comfortaa";
    font-size: 30px;
}

.text {
    font-family: "Comfortaa";
    font-size: 20px;
}

.col-lg-4 img {
    margin: auto;
    display: block;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    border: 2px solid #255c7b;
    border-radius: 10px;
}

.btn-docs {
    background-color:  rgba(255,255,255,0.4)!important;
    font-family: "Comfortaa";
    padding: 3px;
    font-weight: 700;
    margin: 10px;
    border: 1px solid black!important;
}

.heading {
    text-align: center;
    color: black;
    margin: auto;
    padding: 100px 0px 20px 0px;
}

.list-group-item {
    background-color:  rgba(255,255,255,0)!important;
    font-family: "Comfortaa";
    border: none!important;
    font-size: 24px;
}

.bold {
    font-weight: 700;
    font-size: 26px;
    color: #659DBD;
}

.doc-descr {
    font-family: "Comfortaa";
    background-color:  rgba(101, 157, 189, 0.3);
    padding: 5px;
    margin: 0px 30px;
    border: 1px solid  #659DBD;
    border-radius: 10px;
}

#inf img {
    margin: 10px auto;
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

#inf .card {
    margin: 10px;
    padding: 5px;
}

.card {
    background-color:  rgba(255,255,255,0.7)!important;
    text-align: center;
}

.url {
    text-align: center;
    color: black;
    font-size: 18px;
}

.alert {
    text-align: center;
    margin: auto;
    background-color:  rgba(255,255,255,0.7);
    width: 300px;
    border: 3px solid white;
    border-radius: 10px;
}

.pages {
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.pages a {
    color: black;
}

.now_page {
    text-decoration: underline;
    font-size: 30px;
}

.thanks {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 20px;
}


.required::after {
    content: '*';
    color: red;
    font-weight: bold;
    font-size: 20px;
}

h3 a{
    color: black;
}

.name {
    font-size: 18px;
    color: black;
    font-style: italic;
}

.question {
    font-size: 18px;
}

.alone {
    width: 95%;
    margin: auto;
    padding: 10px;
}

.sub {
    font-size: 17px;
    font-style: italic;
}

label {
    /* font-weight: bold; */
    font-size: 21px;
}

.med {
    font-size: 17px;
    text-align: center;
    padding: 10px;
}

.sort {
    text-align: center;
    margin: 10px;
}

.search {
    margin: auto;
}

.search h4 {
    margin: 20px;
}

.search-input {
    text-align: center;
    margin: 3px 0px;
}