{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>{{title}}</title>{% endblock title %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/ico" href={% static "images/favicon.ico" %}/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Comfortaa:wght@300..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <script defer src="{% static "js/main.js" %}"></script>
</head>
<body>
    {% block header %}

    <nav id=1 class="navbar navbar-expand-lg navbar-light fixed-top shadow">
        <a class="navbar-brand" href="#">ДЕТСКИЙ ПСИХОЛОГ ШИКУЛЯ Н.А.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-2">
            {% for item in menu_items %}
            <li class="nav-item {% if item.is_active %}active{% endif %}">
                <a class="nav-link" href="{% url item.url_name %}{% if item.url_hash %}{{item.url_hash}}{% endif %}">{{item.title}}</a>
              </li>
            {% endfor %}
        </ul>
        </div>
    </nav>

    {% endblock header %}

    {% block content %}
    
    {% endblock content %}

    {% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="row">
                {% comment %} <div class="col-lg-6">
                    <img class='footer-icon' src="{% static "images/favicon.ico" %}" alt="">
                </div> {% endcomment %}
                {% comment %} <div class="col-lg-4 amatic">КОНТАКТЫ</div>
                <div class="col-lg-4"><p class='comfortaa'><i class="bi bi-envelope"></i> shik.66@mail.ru</p></div>
                <div class="col-lg-4"><p class='comfortaa'> <i class="bi bi-telegram"></i> @Shikulja</p></div> {% endcomment %}
                {% comment %} <div class="col-lg-6">
                    <div class="amatic">КОНТАКТЫ</div>
                    <p class='comfortaa'><i class="bi bi-envelope"></i> shik.66@mail.ru</p>
                    <p class='comfortaa'> <i class="bi bi-telegram"></i> @Shikulja</p>
                </div> {% endcomment %}
                <div class="col-lg-6">
                    <p class="amatic">КОНТАКТЫ:</p>
                    <p class='comfortaa'><i class="bi bi-envelope"></i> shik.66@mail.ru </p>
                    <p class='comfortaa'><i class="bi bi-telegram"></i> @Shikulja</p>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-6">
                <img class='footer-icon' src="{% static "images/favicon_long.jpg" %}" alt="">
            </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock scripts %}

</body>
</html>