{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <img src="https://i.pinimg.com/736x/ed/2b/dc/ed2bdc836a36f8eb10b41792cd83f0ae.jpg" alt="">
      </div>
      <div class="col-lg-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ipsam aliquid eos cupiditate eum unde? Rerum velit magnam
        corporis cum? Id, debitis cupiditate! Porro illo odio vel modi.
        Dolore voluptatibus facilis numquam sed commodi reprehenderit 
        temporibus perferendis explicabo iste doloremque, quidem placeat
        accusantium soluta architecto laborum nemo suscipit, esse possimus rem?
      </div>
    </div>
  </div>
{% endblock content %}
