{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="big">ДЕТСКИЙ ПСИХОЛОГ</div>
        <div class="biggest">ШИКУЛЯ НАТАЛЬЯ АЛЕКСАНДРОВНА</div>
        <div class="text">Врач и психолог, специалист по работе с детьми и родителями.</div>
      </div>
      <div class="col-lg-4">
        <img class="shadow" src="{% static "images/psychologist_avatar.png" %}" alt="">
      </div>

    </div>


    <div id="inf" class="row">
      <div class="col-lg-6 me-2">
        <div class="big">ОБРАЗОВАНИЕ</div>
        <div class="bigger">Высшее профессиональное</div>
        <ul class="list-group">
          <li class="list-group-item">Томский медицинский институт 1989г, врач-биофизик.</li>
          <li class="list-group-item">Ростовский Государственный Университет (РГУ) 2006г, практический психолог.</li>
          <li class="list-group-item">Повышение квалификации там же по специальности клинический (медицинский) психолог, 2006г.</li>
          <li class="list-group-item">Общий медицинский и психологический стаж - 25 лет; в должности педагог-психолог: 12 лет,
         в том числе в реабилитационном центре для детей нуждающихся в медико-социальной и психолого-педагогической помощи (ППМС-центр).</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
