{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}

<div class="heading"></div>

<div class="container py-5">
    <div class="card shadow col-md-8 search">
    <h4 class='big'>ПОИСК ПО ВОПРОСАМ</h4>
    <div class="med comfortaa">На этой странице вы можете задать интересующий вас вопрос, а также прочитать ответы других пользователей.</div>
    <div class="row justify-content-center">
        <form method="GET" action="{% url "questions" %}">
            <input type="text" class='form-control search-input comfortaa' name="search_query" placeholder="Поиск по вопросам..." value="{{ request.GET.search_query|default:'' }}">
            <div class="d-grid">
                <button class='form-control search-input comfortaa' type="submit" class="btn btn-light">
                    <i class="bi bi-search"></i> Искать
                </button>
            </div>

            <div class='sort'>
            <h4 class='amatic'>Сортировать:</h4>
            <input class='form-check-input comfortaa' type="radio" name="sort_by" id="sort_views" value="views" {% if request.GET.sort_by == "views" or not request.GET.sort_by%}checked{% endif %}>
            <label class='form-check-label comfortaa' for="sort_views">По количеству просмотров</label> <br>
            <input class='form-check-input comfortaa' type="radio" name="sort_by" id="sort_created" value="created_at" {% if request.GET.sort_by == "created_at"%}checked{% endif %}>
            <label class='form-check-label comfortaa' for="sort_created">По дате создания</label>
            </div>

        </form>

    </div>
    </div>
</div>


<div class="container">
    {% for question in questions %}

    {% include "load_questions.html" %}

    {% empty %}
    <div class="alert shadow comfortaa-sm">
        <i class="bi bi-info-circle"></i> Посты не найдены
    </div>

    {% endfor %}
</div>

<div class="pages comfortaa-sm">
    {% if questions.has_previous and questions.previous_page_number > 1 %}
    <a href="?{% query_transform page=1 %}">1</a> |
    {% endif %}
    {% if questions.has_previous and questions.previous_page_number > 1|add:1 %}
        <span>... |</span>
    {% endif %}
    {% if questions.has_previous %}
        <a href="?{% query_transform page=questions.previous_page_number %}">{{questions.previous_page_number}}</a> |
    {% endif %}
    <span class="now_page"> {{questions.number}}</span>
    {% if questions.has_next  %}
    | <a href="?{% query_transform page=questions.next_page_number %}">{{questions.next_page_number}}</a>
    {% endif %}
    {% if questions.has_next and questions.next_page_number < questions.paginator.num_pages|add:-1 %}
        <span> | ... </span>
    {% endif %}
    {% if questions.next_page_number != questions.paginator.num_pages %}
    | <a href="?{% query_transform page=questions.paginator.num_pages %}">{{questions.paginator.num_pages}}</a>
    {% endif %}
</div>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4 amatic">ЗАДАТЬ ВОПРОС</h2>

                    <p class='med comfortaa-sm'>По желанию Вы можете оставить контакты для обратной связи. <br> Другим пользователям они не будут видны.</p>
                    
                    <form class="comfortaa-sm" method="post">
                        {% csrf_token %}
                        
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}
                        
                        {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label {% if field.name in 'title name question' %}required{% endif %}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                            {% if field.errors %}
                            <div class="alert alert-danger mt-2">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                            {% if field.help_text %}
                            <div class="form-text text-muted">
                                {{ field.help_text }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}

                        <div class="d-grid">
                            <button type="submit" class="btn btn-light">
                                <i class="bi bi-send me-2"></i>Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}